<!DOCTYPE html>
<html>
<head>
  <title>GitHub Repo Gösterici</title>
</head>
<body>
  <h1>GitHub Kullanıcı Adı Girin</h1>
  <form action="/repos" method="POST">
    <input type="text" name="username" placeholder="örnek: deryababul" required>
    <button type="submit">Göster</button>
  </form>
</body>
</html>
